/* ========================================== */
:root {
  --space-m: 12px;
  --space-xm: 16px;
  --space-l: 24px;
  --space-b: 36px;

  --size-s: 14px;
  --size-d: 16px;
  --size-l: 20px;

  --color-border: #dee2e6;
  --color-primary: rgba(17, 98, 219, 0.811);
  --color-white: #fff;
  --border-radius: 8px;
  --color-title: #212529;
  --color-text: #343a40;

  --weight-title: 500;
  --weight-text: 400;
}

.page {
  background: var(--color-white);
  padding: 0 15px;

  display: flex;
  justify-content: center;
}

.page_content {
  max-width: 960px;
  width: 100%;

  display: flex;
  flex-direction: column;

  gap: 80px;
}
/* ========================================== */
.header {
  padding: var(--space-l) 0;

  border-bottom: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}

.logo {
  font-size: 17px;
  color: var(--color-white);
  background: var(--color-primary);

  width: 24px;
  height: 24px;

  border-radius: calc(var(--border-radius) / 2);

  display: flex;
  justify-content: center;
  align-items: center;
}

.nav {
  display: flex;
}

.nav_link {
  color: var(--color-text);
  font-size: var(--size-d);
  text-decoration: none;

  line-height: 100%;
}

.nav_inLine {
  gap: var(--space-l);
}

.nav_vertical {
  gap: var(--space-xm);

  flex-direction: column;
}

.nav_link:hover {
  text-decoration: underline;
  color: var(--color-primary);

  opacity: 50%;
}

.header_nav_right {
  margin-left: auto;
  width: fit-content;
}
.footer {
  padding: var(--space-m) 0;

  border-top: 1px solid var(--color-border);

  display: flex;
  justify-content: space-between;
}

.footer_copyright {
  font-size: var(--size-s);
  color: var(--color-text);

  display: block;
  margin-top: var(--space-l);
}

.footer_title {
  font-size: var(--size-l);
  color: var(--color-title);

  display: block;
  margin-bottom: var(--space-l);
}

.main {
  display: flex;
  align-items: center;
  gap: 80px;

  padding: 0;
}

.main_image {
  width: 500px;
  height: 500px;
  border-radius: var(--border-radius);
}

.main_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-l);
}

.main_title {
  font-size: 36px;
  color: var(--color-title);
  font-weight: var(--weight-title);
  line-height: 120%;
}

.main_text {
  color: var(--color-text);
  font-size: var(--size-d);
  font-weight: var(--weight-text);
  line-height: 170%;
}

.featured {
  display: flex;
  padding-bottom: 40px;
  border-bottom: 1px solid var(--color-border);
}

.card {
  display: flex;
  flex-direction: column;
  align-items: start;
  text-align: start;
  justify-content: space-between;
  gap: var(--space-l);
  padding: 0 26px;

  width: 330px;
  max-width: 100%;
  height: auto;
}

.card_image {
  width: 64px;
  height: 64px;
  border-radius: 12px;
}

.card_title {
  font-size: 31px;
  font-weight: var(--weight-title);
  color: var(--color-title);
}

.card_text {
  font-weight: var(--weight-text);
  font-size: var(--size-d);
  color: var(--color-text);
  line-height: 170%;
}

.button {
  display: inline-block;
  font-size: var(--size-d);
  text-decoration: none;
  padding: var(--space-m) var(--space-xm);
  border-radius: var(--border-radius);
}

.card_button {
  color: var(--color-primary);
  padding: 0;
  text-decoration: underline;
}

.button:hover {
  opacity: 0.7;
}

.form {
  display: flex;
  justify-content: space-between;
  align-items: center;

  background: #563d7c;
  padding: var(--space-l);
  border-radius: 8px;
}

.form_content {
  display: flex;
  flex-direction: column;
  gap: var(--space-m);
}

.form_title {
  font-size: 24px;
  font-weight: var(--weight-text);
  color: var(--color-white);
}

.form_button {
  background: var(--color-white);
  max-width: 100%;
  width: 240px;
  color: var(--color-text);
  text-align: center;
  font-size: var(--size-l);

  border-radius: calc(var(--border-radius) / 2);
}

.details_button {
  color: var(--color-white);
  background-color: #6c757d;

  width: 100%;
  max-width: 119px;
  border-radius: calc(var(--border-radius) / 2);
}
