<div class="article" id="{{id}}">
	<div class="image_block">
		<img src="{{photo}}" alt="article_image" class="article_image">
		{{#if isNew}}
		<div class="new_article">NEW</div>
		{{/if}}
	</div>

	<div class="article_text">
		<div class="article_name">{{name}}</div>
		<p class="article_description">{{description}}</p>
		<a href="#" class="button">Read all</a>
	</div>
</div>